<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        <a href="#users/<%= data.page %>/id/<%= data.sort == 'id' && data.dir == 'asc' ? 'desc' : 'asc' %>">
          <% if(data.sort == 'id') { %>
            <i class="icon-chevron-<%= data.dir == 'asc' ? 'down' : 'up' %>" />
          <% } %>
          Login
        </a>
      </th>
      <th>
        <a href="#users/<%= data.page %>/fullname/<%= data.sort == 'fullname' && data.dir == 'asc' ? 'desc' : 'asc' %>">
          <% if(data.sort == 'fullname') { %>
            <i class="icon-chevron-<%= data.dir == 'asc' ? 'down' : 'up' %>" />
          <% } %>
          Full Name
        </a>
      </th>
      <th>Skills</th>
    </tr>
  </thead>
  <tbody>
    <% data.each(function(user) { %>
      <tr> 
        <td><%= user.get( 'login' ) %></td>
        <td><%= user.get( 'fullname' ) %></td>
        <td data-anchor="<%= user.get( 'login' ) %>"></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<div class="pagination pagination-right">
  <ul>
    <li class="<%= data.currentPage == 1 ? 'disabled' : '' %>">
      <a href="#users/<%= data.currentPage == 1 ? 1 : data.currentPage - 1 %><%= data.sort ? '/' + data.sort + '/' + data.dir : '' %>">&lt;</a>
    </li>
    <% for( var i = 1; i < data.totalPages + 1; i++ ) { %>
      <li class="<%= data.currentPage == i ? 'active' : '' %>">
        <a href="#users/<%= i %><%= data.sort ? '/' + data.sort + '/' + data.dir : '' %>"><%= i %></a>
      </li>    
    <% } %>
    <li class="<%= data.currentPage == data.totalPages ? 'disabled' : '' %>">
      <a href="#users/<%= data.currentPage == data.totalPages ? data.totalPages : data.currentPage + 1 %><%= data.sort ? '/' + data.sort + '/' + data.dir : '' %>">&gt;</a>
    </li>
  </ul>
</div>