<!doctype html>
<html lang="en" ng-app="skillbrowser">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.css"/>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="#">Skill Browser</a>
      <ul class="nav">
        <li><a href="#users" class="users">Users</a></li>
        <li><a href="#skills" class="skills">Skills</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#logout" class="logout">Logout</a></li>
        <li><p class="navbar-text" app-version>V</p></li>
      </ul>
    </div>
  </div>

  <div ng-controller="LoginController" ng-modal="modal" class="modal hide fade login">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Login</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="username">Login</label>
          <div class="controls">
            <input type="text" id="username" placeholder="Login" ng-model="loginStatus.username">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" id="password" placeholder="Password" ng-model="loginStatus.password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="rememberMe">Remember me</label>
          <div class="controls">
            <input type="checkbox" id="rememberMe" />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" ng-click="modalShown=false">Cancel</a>
      <a href="#" class="btn btn-primary" ng-click="login()">Login</a>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <!-- Main title styled -->
      <div class="span12">
        <h1>Skill Browser</h1>
      </div>

      <div ng-view></div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
  -->
  <script src="lib/jquery-1.8.3.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.js"></script>
  <script src="lib/angular-1.1.1/angular.js"></script>
  <script src="lib/angular-1.1.1/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
