<?xml version="1.0" encoding="UTF-8"?>

<!-- This is the Spring MVC application context which is a little different than the standard Spring application context. The configurations are pretty 
	the same than in the standard one unless the using of the "mvc" namespace -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<!-- The component scanning will discover all controllers by filtering on the annotation -->
	<context:component-scan base-package="com.developpez.skillbrowser" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- Trigger for the annotation driven configuration of controllers with request mappings -->
	<mvc:annotation-driven>
		<!-- In Spring 3.1 this new parameter allow to add request mapping argument resolver. This is the feature used by Spring Data JPA to handle pageable 
			queries with a provided resolver -->
		<mvc:argument-resolvers>
			<bean class="org.springframework.data.web.PageableArgumentResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

</beans>